<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css" />

  </head>
  <body>
    <div class="container">
      <h1>404 Page Not Found</h1>
      <p>
        The page you were looking for could not be found. Please check the URL
        and try again.
      </p>
      <a href="/">Go to Home Page</a>
    </div>

    <div class="planet"></div>
    <div class="planet"></div>
    <div class="planet"></div>

  </body>
</html>
