body {
    background-image: url("https://wallpaperaccess.com/full/17520.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-y: hidden;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    height: 100vh;
    
  }

  h1 {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  a {
    color: #0080ff;
    text-decoration: none;
  }

  .planet {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation-name: planet-move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .planet:nth-child(1) {
    top: 10%;
    left: 20%;
    background-color: #ffdab9;
  }

  .planet:nth-child(2) {
    top: 60%;
    left: 70%;
    background-color: #7fffd4;
  }

  .planet:nth-child(3) {
    top: 30%;
    left: 80%;
    background-color: #ffa07a;
  }

  @keyframes planet-move {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(200px) translateY(200px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }